body,td,th 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
	
table
{
	border:1px;
	border-color:#CCC;
}
		
#globalnav 
{
	position:relative;
	float:left;
	width:100%;
	padding:0 0 1.75em 1em;
	margin:0;
	list-style:none;
	line-height:1em;
}

#globalnav LI 
{
	float:left;
	margin:0;
	padding:0;
}

#globalnav A 
{
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#globalnav A:hover,
#globalnav A:active,
#globalnav A.here:link,

#globalnav A.here:visited 
{
	background:#bbb;
}

#globalnav A.here:link,
#globalnav A.here:visited 
{
	position:relative;
	z-index:102;
}