div a img {
    display: none;
}

.rel {
    width: 100%;
}

.rel .group1 td {
    background-color: #eeddcc;
    padding: 10px;
}

.rel .group1.total td {
    background-color: #ddccbb;
}

.rel .group2 td {
    background-color: #DDCCBB;
    padding: 10px;
}

.rel .group2.total td {
    background-color: #DDCCBB;
}

.rel .columns td {
    text-align: right;
    padding: 4px;
}

.rel .integer td {
    text-align: right;
    padding: 4px;
}
.rel .space td {
    padding: 5px;
}
